---
layout: layouts/base.njk
title: About
description: Learn about Mantis Digital Media in Shelton, CT.
---
<!-- ================================
SECTION — TWO COLUMN
================================ -->

<section class="section-two-column">
  <div class="section-inner-container">

    <div class="col">
      <img src="assets/images/image-1-before.jpg" alt="">
    </div>

    <div class="col">
      <img src="assets/images/image-1-after.jpg" alt="">
    </div>

  </div>
</section>

