---
layout: layouts/base.njk
title: Makeup Portfolio | Carrano Glam Connecticut Makeup Artist
description: View Carrano Glam’s portfolio of soft glam, full glam, and event makeup looks. Professional Connecticut makeup artist for weddings and special events.
---

<section class="section-one-column">
  <div class="section-inner-container">

    <h1>Carrano Glam Makeup Portfolio - Glam for all occasions in Connecticut</h1>
    <p>
      Explore the Carrano Glam makeup portfolio featuring soft glam, full glam, and event makeup looks created for clients across Connecticut. This gallery highlights professional makeup work for special events, photoshoots, parties, and glam sessions, showcasing a range of styles, skin tones, and finishes. Every look is customized to fit the client’s features, style, and occasion.
    </p>

  </div>
</section>

<!-- ================================
SECTION — TWO COLUMN
================================ -->

<section class="section-two-column">
  <div class="section-inner-container">

    <div class="col">
      <img src="/assets/images/image-1-before.jpg" alt="">
    </div>

    <div class="col">
      <img src="/assets/images/image-1-after.jpg" alt="">
    </div>

  </div>
</section>

