---
layout: layouts/base.njk
title: Thank You
description: Thank you for booking your Carrano Glam makeup appointment.
---

<section class="section-one-column">
    <div class="section-inner-container">
        <h1>Thank You</h1>
        <p>Your request has been submitted. Someone will contact you soon to schedule your appointment. Bye bye!</p>
        <p><a href="/" class="cta1">Back to Home</a></p>
    </div>
</section>